<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yixianqian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- ###################声明SDK使用的相关权限###################### -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- GET_TASKS用于检测APP是否处于前台、是否活着；REORDER_TASKS用于将APP切换到前台 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.yixianqian" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.GuideActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <!-- 注册或登录页面 -->
        <activity
            android:name=".ui.LoginOrRegisterActivity"
            android:label="@string/title_activity_login_or_register"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <!-- 首次安装运行页面 -->
        <activity
            android:name=".ui.GuidePagerActivity"
            android:label="@string/title_activity_guide_pager" >
        </activity>

        <!-- 登录页面 -->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yixianqian.ui.LoginOrRegisterActivity" />
        </activity>

        <!-- 注册页面 -->
        <activity android:name=".ui.RegisterActivity" >
        </activity>

        <!-- 主页面 -->
        <activity android:name=".ui.MainActivity" >
        </activity>

        <!-- 每日推荐页面 -->
        <activity android:name=".ui.DayRecommendActivity" >
        </activity>

        <!-- 每日推荐帮助页面 -->
        <activity android:name=".ui.RecommendHelpActivity" >
        </activity>

        <!-- 上传头像页面 -->
        <activity
            android:name=".ui.HeadImageActivity"
            android:label="@string/title_activity_head_image" >
        </activity>

        <!-- 时间胶囊页面 -->
        <activity
            android:name="com.yixianqian.ui.TimeCapsuleActivity"
            android:label="@string/title_activity_time_capsule" >
        </activity>

        <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- ###################第三方组件Appkey###################### -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bcB8dCkZh0GVtMTdpyTTabj3" />
    </application>

</manifest>